root { 
    display: block;
}

.root {
     -fx-background-color: SLATEGRAY;
}

.label-padrao {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.label-azul-grande {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #0029ff;
}

.label-verde-grande {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #52ff00;
}

.login-error-label {
	-fx-font-weight: bold;
	-fx-text-fill: #bb0000;
}

.label-titulo {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 24px;
	-fx-label-padding: 2 0 2 15;
	-fx-effect: dropshadow( three-pass-box , rgb(255, 255, 255) , 10 , 0 , 0 , 0 );
}

.label-padrao-titulo {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}


.borderPane-cinza{
	-fx-background-color: SLATEGRAY;
	-fx-padding: 0 0 0 0; 
}

.stackPane-fundo-principal{
	-fx-background-image: url("../images/background.jpg");
	-fx-padding: 0 0 0 0; 
}

#welcome-text {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#actiontarget {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#9A9696, #070707);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-cursor: hand;
}

.tooltip {
    -fx-font-weight: bold;
    -fx-border-color: #1a73a0;
    -fx-border-radius: 0 0 13 0;
    -fx-background-insets: 0 0 0 0, 1 1 1 1, 2 2 2 2;
    -fx-background-radius: 0 0 13 0;
    -fx-background-color: linear-gradient(#88c3e5, #39a1d8);
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.button:hover {
    -fx-background-color: linear-gradient(#070707, #9A9696);
}

#login-error-label {
	-fx-font-weight: bold;
	-fx-text-fill: #bb0000;
}


.menu {
	-fx-label-padding: 0 0 0 15;	
	-fx-text-fill: white;		
	-fx-font-weight: bold; 
	-fx-font-size: 11px;
	-fx-cursor: hand;	
}

.tab-pane *.tab-header-background {
	-fx-color: rgb(62, 73, 78);
	-fx-background-color: -fx-body-color;
    -fx-effect: innershadow(two-pass-box, rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}

.tab:selected {
	-fx-padding: 5 10 5 10;
	-fx-border-color: rgb(40, 64, 77);
	-fx-border-radius: 3 3 0 0;
    -fx-border-width: 1 1 0 1;
}

.tab {
	-fx-padding: 5 10 5 10;
	-fx-border-color: rgb(40, 64, 77);
	-fx-border-radius: 3 3 0 0;
    -fx-border-width: 0 1 0 0;
}

.tab-content-area {
	-fx-border-width: 15 0 0 0;
	-fx-border-color: rgb(112,128,144);
    -fx-background-color: rgb(112,128,144);
    -fx-padding: 0.0em; /* 0 */
    -fx-background-radius: 0 0 8 8;
}

.tab:top:selected {
	-fx-color: rgb(112,128,144);
    -fx-background-color: -fx-body-color;
}

.tab:top:selected .tab-label {
	-fx-font-weight: bold;
	-fx-text-fill: rgb(14, 50, 68);
}

.tab:top {
	-fx-color: rgb(62, 73, 78);
	-fx-background-color: -fx-body-color;
}

.tab:top .tab-label {
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

.default-radio-button .radio {
	-fx-padding: 4 4 4 4;
	-fx-background-insets: 0 0 0 0;
	-fx-border-radius: 16 16 16 16;
	-fx-background-radius: 16 16 16 16;
	-fx-border-color: linear-gradient(#eaeaea 0%, #c0c0c0 100%);
	-fx-background-color: linear-gradient(#ffffff 0%, #eeeeee 100%);
}

.default-radio-button:hover .radio {
	-fx-border-color: linear-gradient(#eaeaea 0%, #c0c0c0 100%);
	-fx-background-color: linear-gradient(#ffffff 0%, #f9f9f9 100%);
}

.default-radio-button:selected .dot {
   -fx-padding: 3 3 3 3;
   -fx-background-insets: 0;
   -fx-background-color: transparent;
   -fx-background-radius: 16 16 16 16;
}

.default-radio-button:selected .dot {
   -fx-background-insets: 0 0 0 0;
   -fx-background-color: linear-gradient(#55a2d0 0%, #65b2e0 100%);
}

.default-radio-button:focused .radio {
    -fx-border-color: linear-gradient(#65b2e0 0%, #399cd7 100%);
}